<div class="container">

  <h1> <strong><%=@cocktail.name%></strong>  </h1>
  <br>
  <br>
  <div class="cards">
    <h2>Dose & ingredients</h2>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <h3>quantité: </h3>
          <p>
            <%= dose.description %>
          </p>
          <h3>ingredients): </h3>
          <p><%= dose.ingredient.name %></p>

          <%= link_to "X", dose_path(dose), method: :delete, data:{confirm:"U sure ?"} %></span>
        <% end %>
      </ul>

  </div>


  <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary mt-2"%>

</div>



